@import "tailwindcss";

p {
  padding: 0;
}

:root {
  --font-family-symbols: "Material Symbols Rounded";
  --font-family-symbols-outlined: "Material Symbols Outlined";
  --font-lato: "Lato", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

@theme {
  /* Tailwind CSS zmienne*/
  --color-accent: #262626;
  --color-lightAccent: #f2f2f7;
  --color-lightAccentDark: #303031;
  --color-money: #fbd38d;
  --color-background: #fafafa;
  --color-backgroundDark: #3a3a3a;
  --color-backgroundLightDark: #8e8e93;
  --color-error: #fb2c36;
  --color-border-color: oklch(27.27% 0 0 / 0.5);
  --font-lato: "Lato", sans-serif;
}

.material-symbols {
  font-family: var(--font-family-symbols), serif;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 48;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
}

.material-symbol-outlined {
  font-family: var(--font-family-symbols-outlined), serif;
  font-variation-settings:
          "FILL" 1,
          "wght" 400,
          "GRAD" 0,
          "opsz" 48;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
}

input {
  font-family: var(--font-lato), serif;
}

@utility custom-scroll {
  scrollbar-color: #3c3c3c transparent;
  scrollbar-width: thin;
}

.chart-options-buttons {
  @apply px-3 py-1 border-[1px] rounded border-border-color transition-colors duration-200 hover:bg-accent hover:text-background hover:cursor-pointer;
}

.form-input {
  @apply border-[1px] border-neutral-300 rounded-[5px] px-4 py-2 text-base w-full lg:min-w-76;
}